#edit textarea {
  width: 100%;
  height: 100%;
  background-color: skyblue;
  overflow-y: scroll;
}
#edit {
  width: 45%;
}
#previewer {
  width: 60%;
}
#previewer > div {
  background-color: skyblue;
  padding: 1rem;
}
table {
  text-align: center;
}
pre,
code {
  background-color: rgb(35, 35, 35);
  padding: 0.1rem;
  color: white;
}
table * {
  border: 1px solid black;
  padding: 0 0.25rem;
}
blockquote {
  border-left: 4px solid green;
  color: green;
  margin-left: 1rem;
  padding-left: 0.5rem;
}
#edit,
#previewer {
  border: 1px solid black;
}

#previewer img {
  width: 100%;
}
.navbar {
  background-color: green;
  padding: 0;
}

body {
  background-color: black;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  #edit {
    width: 90%;
  }
  #previewer {
    width: 100%;
  }
}
